* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 1px solid black;
    margin: 5px;
    min-height: 100vh;
}

 /* NAVBAR  */

nav {
    height: 80px;
    padding: 20px 6vw;
    white-space: nowrap;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    font-weight: bold;
    width: 28%;
}

.menu {
    display: inline-block;
     vertical-align: middle;
    list-style: none;
      width: 42%;
     text-align: center;
}

.menu li {
    display: inline-block;
    margin: 0 12px;
}

.menu li a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
}

.username {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
      background-color: #e8f7ff;
      color: #0099ee;
      border: none;
      border-radius: 12px;
      font-size: 14px;
}

/* hero */

.hero {
    height: calc(100vh - 80px);
    font-size: 0;
}

/* LEFT SIDE */

.left {
    display: inline-block;
    vertical-align: middle;
    width: 52%;
      padding-left: 13%;
      padding-top: 8vh;
        font-size: 16px;
}

h3 {
    color: #4d5d6b;
    font-size: 48px;
    line-height: 1.4;
    font-family: Arial, sans-serif;
}

h3 span {
    color: #119fe9;
    display: block;
}

p {
    color: #9aa7b2;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 10px;
    max-width: 600px;
    font-family: Arial, sans-serif;
}

/* BUTTON */

.left button {
    margin-top: 35px;
    padding: 18px 55px;
    background: linear-gradient(to right, #009cff, #29b5ef);
    color: white;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* RIGHT SIDE */

.right {
    display: inline-block;
    vertical-align: middle;
    width: 47%;
    text-align: center;
    font-size: 16px;
}

.right img {
    width: 40%;
     max-width: 450px;
    height: auto;
}